* {
    margin: 0;
}
html, body {
    height: 100%;
    background-color: white;
    font-size: 9px;
    font-weight: bold;
}

table{
  max-width:60%;
  height:80%;
}

.fa{
  vertical-align: center;
}

.table thead:first-child tr:first-child th, .table caption+thead tr:first-child td, .table colgroup+thead tr:first-child td, .table thead:first-child tr:first-child td {
    border-top: 0;
    background-color: #A52A2A;
    color: white;
}

.product{
  max-height: 200px;
  max-width: 200px;
  margin: 0 auto;
}

.product-image{
  height: 30px;
  width: 30px;
  align-items: top;
  margin: 0 auto;
  max-height: 80%;
  max-width: 80%;
  margin: 0 auto;
  float: left; 
  margin-right: 5px; 
}

.clrWhite{
  color: white;
}

.title{
  /*vertical-align: left;*/
  margin-left: 10px;
  font-size: 11px;
  overflow: hidden;
}

.alignBy25{
  margin-left: 25%;
}

.centerAlign{
  text-align: center;
}

.leftAlign{
  text-align: left;
  margin-left: 10px;
}

.verticalAlign{
  vertical-align: center;
}

.widthTd9{
  width: 9%;
}

.widthTd12{
  width: 12%;
}

th{
  height: 40px;
  vertical-align: center;
}