<div  ng-controller="mainController">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>UNPUBLISHED ARTICLES</th>
        <th class="widthTd12">AUTHOR</th>
        <th class="widthTd9">
          <a href="javascript:void(0)" ng-click="orderByField=settingOrder('words'); reverseSort = settingReverse(!reverseSort)" class="clrWhite">WORDS
	          <span ng-show="orderByField == 'words'">
	          	<span ng-show="!reverseSort"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
	          	<span ng-show="reverseSort"><i class="fa fa-sort-asc" aria-hidden="true"></i></span>
	          </span>
          </a>
        </th>
        <th class="widthTd12">
          <a href="javascript:void(0)" ng-click="orderByField=settingOrder('publish_at'); reverseSort = settingReverse(!reverseSort)"  class="clrWhite">SUBMITTED 
          	<span ng-show="orderByField == 'publish_at'">
          		<span ng-show="!reverseSort"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
          		<span ng-show="reverseSort"><i class="fa fa-sort-asc" aria-hidden="true"></i></span>
          	</span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items|orderBy:orderByField:reverseSort | limitTo:limit">
		    <td class="verticalAlign"><a href="{{item.url}}"><img ng-src="{{item.image}}" alt="product" class="product-image"></img><p class="title">{{item.title}}</p></a></td>
      	<td class="leftAlign">{{item.profile.first_name}} {{item.profile.last_name}}</td>
      	<td class="centerAlign">{{item.words}}</td>
      	<td class="centerAlign"><span am-time-ago="dateConverter('{{item.publish_at}}')"></span></td>
      </tr>
    </tbody>
  </table>
  <div class="alignBy25"><button ng-click='loadMore()' class="primary btn">Load More</button></div>
</div>
  